# env
.venv/
venv/
__pycache__/
*.py[cod]

# data folders (обычно большие/воспроизводимые)
data/raw/
data/external/
data/processed/
temp/

data/registry/*.xlsx

# temp/debug
temp/
*.log

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/